
  <div class="container-fluid">
    <div class="row">
    <div class="col-12 pt-3">
        <h4>Angular 6</h4>
        <button type="button" class="btn btn-primary">User : Rinni</button>
    </div>
    </div>


     <div class="row">
     Lorem ipsum dolor sit amet, has in illum nobis graece, offendit hendrerit omittantur sed an. Vix viderer insolens ei, an impetus maiestatis sit, ex mel mutat justo saperet. Ornatus laoreet inciderint at sit, no qui veniam salutandi conceptam. Periculis inciderint quo et, erant saepe quodsi ne nec. Eu vitae percipit per. Ut sed ferri diceret inimicus.

Erat atomorum cu quo. An stet affert vix, pro an dico utamur tractatos. Mazim oratio electram usu ut. Aeque luptatum mel ut. Ferri dignissim in per, ad nec menandri iudicabit.

Essent tacimates ullamcorper ne sit, his id iudico audiam partiendo, id justo prodesset incorrupte nec. Solet recusabo quo ea, dictas docendi corrumpit nam ad, sea cu utinam singulis. Partem maluisset appellantur no mea, mei ei putant volutpat. Cum an tantas delectus, saepe conceptam dissentiet cum at, te habeo assum ius. Eum enim similique at. In reque voluptatibus mei.

Ei saperet graecis volumus est, ut eum lorem aliquam, sea et modus principes scribentur. Autem atqui commodo ea has. Exerci audiam invidunt nam ad, harum elitr assentior eam in. Te vel erat brute, vis eu volumus invenire vulputate. Tollit nonumes quo te, an per assueverit suscipiantur.

Et nec nisl percipit euripidis, pri meis vulputate ne, ex vix nibh labores nominavi. An vim vivendum delicata, ea facilis definitionem quo, vis no tantas atomorum necessitatibus. Ad sanctus moderatius signiferumque mei, invidunt voluptaria nam ad. Quot aliquip sententiae eu mei, ea dicat partiendo duo, an per modus voluptua vituperatoribus. An mel iisque consulatu dissentiet, te usu enim assum fastidii.
</div>
